<!DOCTYPE html>

<html>
    <head>
        <title>Category Save</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Category Save</div>

        <form method="post" action="create">
            <div>
                <label>Name:</label>
                <input id="name" name="name" type="text" value="{{category.name}}" />
            </div>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
        
        <strong>{{message}}</strong>
    </body>
</html>
